<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/estilo.css" media="screen" />
</head>

<body>
    <h1>ESP-32</h1>
    <div id="Grafico" name="Grafico"></div>
    <div class="teste">
        <div class="Indicador" id="Indicador"></div>
        <div id="led" class="led"></div>
    </div>
</body>
</html>
<!-- Sistema LED: https://cgreinhold.dev/2020/07/21/led/ -->
